<div class="m-3 p-5 bg-secondary text-white">
  <h1 class=display-5><%= t('welcome') %></h1>
  <br>
  <p class="lead"><%= t('language_text') %> <strong><%= t('actual_language') %></strong></p>
  <br>
  <p class="lead"><%= t('presentation_text') %></p>    
</div>
  


